
html,
body,
#app, #root {
  // height: 100%;
  min-height: 100vh;
  background: #FFFFFF!important;
  color: #121314;
  font-family: DINPro-Medium;;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout.layout-basic {
  height: 100vh;
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// 数据列表 样式
.table-alert {
  margin-bottom: 16px;
}
// 数据列表 操作
.table-operator {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}
// 数据列表 搜索条件
.table-page-search-wrapper {

  .ant-form-inline {
    .ant-form-item {
      display: flex;
      margin-bottom: 24px;
      margin-right: 0;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      > .ant-form-item-label {
        line-height: 32px;
        padding-right: 8px;
        width: auto;
      }
      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

@media (max-width: 720px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}
.ant-spin-container.ant-spin-blur {
  border-radius: 20px;
}
.ant-spin-dot-item {
  background-color: #1AFFC1 !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: rgb(208, 254, 255);
}
.ant-collapse-content {
  color: rgb(208, 254, 255);
}
.ant-collapse-borderless {
  background: none;
}
.ant-breadcrumb{
  color:#D0FEFF !important;
  .ant-breadcrumb-link{
      color:#D0FEFF;
  }
  .ant-breadcrumb-separator{
      color:#D0FEFF !important;
  }
}
.ant-drawer-content {
  background-color: #07181B !important;
}
.ant-drawer-left, .ant-drawer-right {
  // margin-top: 50px !important;
}

